/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background-position: 0 0;
	background-repeat: no-repeat;
	border: 0 none;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
	text-align: left;
	vertical-align: baseline;
}
a img, :link img, :visited img { border:0 none; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style-image: none; list-style-position: outside; list-style-type: none; }
q:before, q:after, blockquote:before, blockquote:after { content:""; }
input::-moz-focus-inner /*Remove button padding in FF*/
{
    border: 0;
    padding: 0;
}
/* css begin */
html, body { height:100%; }
body {
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #333;
	background: url(../images/body-bg.jpg) no-repeat top center #fff5ea;
	width: 100%;
	min-width: 970px;
}

/* content */
#wrap {
	position: relative;
	width: 970px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

a { color: #69c; }
a:hover { color: #f00; }


/* header */
.header { width: 100%; height: 140px; overflow: hidden; }

	.header .logo { display: block; float: left; width: 256px; height: 70px; margin: 57px 0 0 0; background: url(../images/header-logo.png) no-repeat; }

	.header .phone { float: left; width: 318px; height: 45px; margin: 47px 0 0 58px; padding: 4px 0 0 17px; background: url(../images/header-phone.png) no-repeat; }
		.header .phone span { font-size: 14px; color: #f39b78; }
		.header .phone big { font-size: 24px; margin-bottom: -5px; }

	.header .search { float: right; width: 205px; margin: 44px 0 0 0; padding: 0 0 0 32px; background: url(../images/header-search.png) no-repeat; }
		.header .search label { font-size: 14px; font-style: italic; color: #606; }
		.header .search-submit {
			display: inline-block;
			border: 0;
			font-family: Arial, sans-serif;
			font-size: 12px;
			font-style: normal;
			padding: 0 13px 0 7px;
			color: #69c;
			text-decoration: underline;
			cursor: pointer;
			background: url(../images/arrow-b-right.gif) no-repeat right center;
		}
		.header .search-input {
			position: relative;
			display: block;
			width: 197px;
			height: 16px;
			border: 0;
			margin: 7px 0 0 0;
			font-style: normal;
			font-size: 11px;
			background: url(../images/header-search-input.gif) no-repeat;
		}

	.header .menu { float: right; clear: both; margin: -10px 10px 0 0; }
		.header .menu li { float: left; padding-left: 27px; margin-left: 27px; background: url(../images/header-menu-spacer.gif) no-repeat 0 4px; }
		.header .menu li:first-child { background: none; }
		.header .menu a { font-size: 16px; text-decoration: none; border-bottom: 1px dotted #69c; }
		.header .menu a:hover { border-bottom: 1px dotted #f00; }

/* mainmenu */
.mainmenu { width: 964px; height: 79px; padding: 7px 0 0 5px; margin: 27px 0; background: url(../images/mainmenu-bg.png) no-repeat; }
	.mainmenu ul {  }
	.mainmenu li { border: 0px solid red; height: 49px; padding: 17px 0 0 60px;  float: left; }
		.mainmenu .howtobuy { width: 97px; background: url(../images/mainmenu-i1.png) no-repeat 20px 16px; }
		.mainmenu .paymethods { padding-left: 57px; width: 103px; background: url(../images/mainmenu-i2.png) no-repeat 15px 16px; }
		.mainmenu .price { padding-left: 45px; width: 110px; background: url(../images/mainmenu-i3.png) no-repeat 15px 16px; }
		.mainmenu .delivery { width: 86px; background: url(../images/mainmenu-i4.png) no-repeat 15px 16px; }
		.mainmenu .assembly { width: 100px; background: url(../images/mainmenu-i5.png) no-repeat 23px 19px; }
		.mainmenu .equipment { width: 100px; background: url(../images/mainmenu-i6.png) no-repeat 20px 16px; }
	.mainmenu a { color: #333; text-decoration: none; }
	.mainmenu a:hover { text-decoration: underline; }

/* leftside */
.leftside { float: left; width: 222px; margin-left: 5px; }
	.leftside h3 { font-size: 14px; color: #606; font-weight: normal; font-style: italic; margin-bottom: 7px; }


	.leftside .menu { padding: 0 0 14px 0; margin-bottom: 10px; background: url(../images/leftside-menu-bottom.png) no-repeat left bottom; }

		.leftside .menu ul { padding: 13px; background: url(../images/leftside-menu-bg.png) repeat-y left top; }
		.leftside .menu ul li { margin-bottom: 7px; padding-left: 14px; background: url(../images/plus.gif) no-repeat left 4px; }
		.leftside .menu ul li.active { background: url(../images/minus.gif) no-repeat left 4px; }
		.leftside .menu ul a { color: #333; text-decoration: none; border-bottom: 1px dotted #333; }
		.leftside .menu ul a:hover { color: #f00; border-bottom: 1px dotted #f00; }

		.leftside .menu ul ul { padding: 5px 0 0 0; }
		.leftside .menu ul ul li { margin-bottom: 7px; padding-left: 14px; background: url(../images/plus-2.gif) no-repeat left 3px; }
		.leftside .menu ul ul li.active { background: url(../images/minus-2.gif) no-repeat left 3px; }
		.leftside .menu ul ul a { color: #333; font-style: italic; text-decoration: none; border: 0; }
		.leftside .menu ul ul a:hover { color: #f00; border: 0; }

		.leftside .menu ul ul ul { padding: 5px 0 0 0; }
		.leftside .menu ul ul ul li { margin-bottom: 7px; padding-left: 14px; background: url(../images/arrow-m-right.gif) no-repeat left 3px; }
		.leftside .menu ul ul ul a { color: #4d91c5; font-style: italic; text-decoration: none; border: 0; }
		.leftside .menu ul ul ul a:hover { color: #f00; border: 0; }

	.leftside .manufacturers { border-bottom: 1px dotted #ccc; }
		.leftside .manufacturers .m { overflow: hidden; margin-bottom: 18px; clear: both; }
		.leftside .manufacturers .m img { float: left; margin-right: 10px; }
		.leftside .manufacturers .m a { display: inline-block; margin-top: 5px; text-decoration: none; border-bottom: 1px dotted #69c; }
		.leftside .manufacturers .m a:hover { border-bottom: 1px dotted #f00; }

	.leftside .custom-selectbox { width: 100%; clear: both; padding-bottom: 45px; }

	.leftside .textbox { margin: 10px 0; }
		.leftside .textbox p { color: #666; margin-bottom: 5px; }
		.leftside .textbox a { text-decoration: none; border-bottom: 1px dotted #69c; }
		.leftside .textbox a:hover {border-bottom: 1px dotted #f00; }

/* rightside */
.rightside { float: right; width: 230px; margin-right: 10px; }


.rightside .gbox { position: relative; width: 195px; padding: 10px 10px 15px 25px; margin-bottom: 10px; }
	.rightside .bottom { position: absolute; left: 0; bottom: -12px; width: 227px; height: 12px; background: url(../images/rightside-block-shadow.png) no-repeat left top; }

	.rightside .tips { background: url(../images/rightside-block-1.png) no-repeat left top; }
	.rightside .questions { background: url(../images/rightside-block-2.jpg) no-repeat left top; }
		.rightside .questions .h { margin-top: 5px; }
	.rightside .advanced { background: url(../images/rightside-block-3.jpg) no-repeat left top; padding-top: 65px; }

	.rightside .h  {
		float: right;
		font-size: 14px;
		font-style: italic;
		color: #606;
		text-decoration: none;
		border-bottom: 1px dotted #606;
		padding-right: 13px;
		margin-bottom: 25px;
		background: url(../images/arrow-mag-right.gif) no-repeat right 4px;
	}
	.rightside .h:hover { color: #f00; border-bottom: 1px dotted #f00; }
	.rightside .gbox p {
		clear: both;
		padding-right: 10px;
		margin-bottom: 5px;
	}
	.rightside .gbox p a, .rightside .news a { color: #4d91c5; text-decoration: none; border-bottom: 1px dotted #4d91c5; }
	.rightside .gbox p a:hover, .rightside .news a:hover { color: #f00; border-bottom: 1px dotted #f00; }

	.rightside .gbox p em { color: #666;}

	.rightside .more { padding-right: 10px; background: url(../images/arrow-m-right.gif) no-repeat right 5px; }
	.rightside .gbox .big, .content .big { font-size: 14px; color: #606; border-bottom: 1px dotted #606; text-decoration: none; font-style: italic; }
	.rightside .gbox .big:hover, .content .big:hover { color: #f00; border-bottom: 1px dotted #f00; }


	.rightside .news { margin: 25px 0 0 0; padding: 0 0 0 7px; }
		.rightside .news .h { float: none; }
		.rightside .news .item p { margin: 7px 0 0 0; }


	.rightside .pay { position: relative; padding: 20px 15px 14px 15px; margin: 40px 0 10px 0; background: url(../images/leftside-menu-bg.png) no-repeat left bottom; }
		.rightside .pay .h { float: none; background: none; padding: 0; }

		.rightside .pay .bottom { position: absolute; left: 0; bottom: -14px; width: 222px; height: 14px; background: url(../images/leftside-menu-bottom.png) no-repeat left bottom; }

/* content */
.content { float: left; min-height: 300px; width: 470px; margin: 0 13px; }

	.content h1 { font-size: 18px; margin: 5px 0; font-weight: normal; }
	.content h6 { color: #606; font-style: italic; font-weight: normal; margin: 5px 0; }

	.content p { margin: 5px 0; color: #666; }
		.content p strong, .content ol strong { color: #333; }

	.content ul { margin: 25px 0; }
		.content ul li { color: #666; padding-left: 14px; margin-bottom: 5px; background: url(../images/bullet-1.gif) no-repeat left 4px; }

	.content ol { list-style-type: none; }
		.content ol span { color: #69c; }
		.content ol li { color: #666; margin-bottom: 5px; }
		.content ol ul { margin: 5px 0 5px 13px; font-style: italic; }


	.breadcrumbs { margin-bottom: 10px; }
		.breadcrumbs a {
			display: inline-block;
			font-size: 14px;
			font-style: italic;
			color: #606;
			margin-bottom: 3px;
			text-decoration: none;
			border-bottom: 1px dotted #606;
		}
		.breadcrumbs a:first-child { background: none; }
		.breadcrumbs a:hover { color: #f00; border-bottom: 1px dotted #f00; }

		.breadcrumbs img { margin: 0 5px; }


	.paginator { margin: 10px 0; overflow: hidden; }
		.paginator ul {}
		.paginator li { float: left; margin-right: 6px; color: #69c; padding: 0 !important; background: none !important; }
		.paginator li.all { margin-left: 12px; }
		.paginator li.previous { padding-left: 18px; margin-right: 12px; background: url(../images/arrow-b-left.gif) no-repeat left 4px; }
		.paginator li.next { padding-right: 18px; margin-left: 12px; background: url(../images/arrow-b-right.gif) no-repeat right 4px; }
		.paginator a { text-decoration: none; border-bottom: 1px dotted #69c; font-style: italic; }
		.paginator a:hover, .paginator .current a { color: #fff; background: #606; }

	.catalog {}
		.catalog .item { padding: 18px 38px 14px 18px; margin-bottom: 5px; border: 1px dotted #bcbab8; overflow: hidden; background: #fff7ef; }
			.catalog .thumbnail { width: 195px; float: left; }
				.catalog .thumbnail img { border: 1px solid #69c; }

			.catalog .description { width: 190px; float: left; margin-left: 25px; }
				.catalog .description a { text-decoration: none; border-bottom: 1px dotted #69c; }
				.catalog .description a:hover { border-bottom: 1px dotted #f00; }
				.catalog .description p { margin: 7px 0; }
				.catalog .description .cost { font-size: 18px; color: #606; }
				.catalog .description .buy {
					display: inline-block;
					width: 74px;
					height: 21px;
					float: right;
					border: 0;
					color: #fff;
					text-decoration: underline;
					padding: 4px 0 0 7px;
					background: url(../images/buy.gif) no-repeat;
				}
				.catalog .description .buy:hover { border: 0; }

		.twocolumns { overflow: hidden; margin: 15px -10px 0 0; }
		.rightside .twocolumns { overflow: hidden; margin: 25px -10px 0 0; }
			.twocolumns h2 { font-size: 14px; font-style: italic; color: #606; margin-bottom: 10px; padding-left: 15px; background: url(../images/yeswecan.gif) no-repeat left 5px; }
			.rightside .twocolumns h2 { background: none; font-size: 12px; padding: 0 0 0 7px; }
			.twocolumns .item { float: left; width: 170px; margin: 0 10px 10px 0; }
			.rightside .twocolumns .item { width: 165px; margin: 0 0 10px 6px; padding: 18px 38px 14px 10px; }
			.twocolumns .item .thumbnail, .twocolumns .item .description { float: none; }
			.twocolumns .item .description { margin: 10px 0 0 0; }

		.welcome a { text-decoration: none; }
		.welcome .pricelist { float: left; margin-right: 15px; }
			.welcome .pricelist div { width: 70px; margin: 20px auto; }
			.welcome .pricelist span { color: #69c; }
				.welcome .pricelist span a { border-bottom: 1px dotted #69c; }
				.welcome .pricelist span a:hover { border-bottom: 1px dotted #f00; }

		.content .news { margin: 20px 0; padding: 10px 38px 10px 18px; margin-bottom: 5px; border: 1px dotted #bcbab8; overflow: hidden; background: #fff7ef; }
			.content .news .h {
				font-size: 14px;
				font-style: italic;
				color: #606;
				text-decoration: none;
				border-bottom: 1px dotted #606;
				padding-right: 13px;
				margin-bottom: 25px;
				background: url(../images/arrow-mag-right.gif) no-repeat right 4px;
			}
			.content .news .h:hover { color: #f00; border-bottom: 1px dotted #f00; }
			.content .news .item p { color: #333; margin: 7px 0 0 0; }
			.content .more { text-decoration: none; border-bottom: 1px dotted #69c; padding-right: 10px; background: url(../images/arrow-m-right.gif) no-repeat right 5px; }
			.content .more:hover { border-bottom: 1px dotted #f00; }

	.mini-description { margin: 15px 0 5px 0; overflow: hidden; height: 110px; }
		.mini-description .thumbnail { float: left; width: 282px; }
			.mini-description .thumbnail img { float: left; border: 1px solid #69c; margin: 0 10px 5px 0; }

			.mini-description .description { width: 180px; float: left; margin-left: 5px; }
				.mini-description .description a { text-decoration: none; border-bottom: 1px dotted #69c; }
				.mini-description .description a:hover { border-bottom: 1px dotted #f00; }
				.mini-description .description p { margin: 0 0 7px 0; white-space: nowrap; }
				.mini-description .description .cost { font-size: 18px; color: #606; }
				.mini-description .description .buy {
					display: inline-block;
					width: 74px;
					height: 21px;
					float: right;
					border: 0;
					color: #fff;
					text-decoration: underline;
					padding: 4px 0 0 7px;
					background: url(../images/buy.gif) no-repeat;
				}
				.mini-description .description .buy:hover { border: 0; }

	/* order form */
	.order-form { width: 391px; height: 255px; padding: 25px 45px; background: url(../images/form.jpg) no-repeat; margin: 15px 0; }
		.order-form h6 { font-style: italic; color: #606; background: url(../images/order.gif) no-repeat left 3px; padding-left: 15px; margin-bottom: 10px; }
		.order-form label { display: block; margin: 4px 0; }
		.order-form span.label-title { display: inline-block; width: 110px; float: left; margin: 7px 0 0 0; }
		.order-form .input-text {
			position: relative;
			display: inline-block;
			width: 197px;
			height: 16px;
			border: 0;
			margin: 7px 0 0 0;
			font-style: normal;
			font-size: 11px;
			background: url(../images/header-search-input.gif) no-repeat;
		}
		.order-form .long { width: 258px; }
		.order-form .short { width: 26px; margin: 0 11px; }
				.order-form .buy {
					display: inline-block;
					width: 81px;
					height: 21px;
					float: right;
					border: 0;
					color: #fff;
					text-decoration: underline;
					padding: 2px 14px 0 0;
					cursor: pointer;
					font-family: Arial, sans-serif;
					background: url(../images/buy.gif) no-repeat;
				}
				.order-form .buy:hover { border: 0; }


	p.rules {  background: url(../images/rules.gif) no-repeat left 3px; padding-left: 12px; }
		p.rules a { text-decoration: none; border-bottom: 1px dotted #69c; }
		p.rules a:hover { border-bottom: 1px dotted #f00; }

	span.date { float: left; color: #69c; margin: 3px 7px 0 0; }
	em.blue { color: #69c; }
	img.fr { float: right; border: 1px solid #69c; margin: 10px 0 0 10px; }
	img.fl { float: left; border: 1px solid #69c; margin: 0 10px 0 0; }


/* tabs */
.section ul { margin: 15px 0 0 0 !important; }

.section li {
	display: inline-block;
	padding: 7px 13px 5px 13px !important;
	background: none !important;
	color: #606 !important;
	position: relative;
	z-index: 999;
	margin-bottom: -1px !important;
	cursor: default;
}

.section li.current {
	border: 1px dotted #ccc;
	background: #fff7ef !important;
	border-bottom: 0;
}

.box {
  display: none; /* по умолчанию прячем все блоки */
  background: #fff7ef;
  border: 1px dotted #ccc;
  padding: 10px;
}
.box.visible {
  display: block; /* по умолчанию показываем нужный блок */
}

/* footer */
#footer {
	position: relative;
	margin-top: -199px;
	height: 139px;
	width: 100%;
	padding: 60px 0 0 0;
	background: url(../images/footer-bg.gif) repeat-x;
}

#footer .wrapper { width: 970px; margin: 0 auto; }

#footer .copy-2, #footer .copy-1 { float: right; font-size: 11px; font-style: italic; color: #333; margin: 40px 0 0 25px; }
#footer .copy-2 a { color: #606; }

#footer .counters { float: right; margin: 40px 0 0 27px; }

#footer .opinions { float: right; display: block; width: 142px; height: 84px; overflow: hidden; text-indent: -9999px; background: url(../images/ya-opinions.gif) no-repeat; }


.footer_blank {	clear: both; height: 199px; }