/* Required. Don't alter | START*/
.fakeContainer {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 31px;
}
td .file {
    position: absolute;
    z-index: 3;
    cursor: default;
    margin: 0px;
    padding: 0px;
    left: 0 !important;
    width: 190px;
}
td .text {
    position: absolute;
    top: 0px;
    cursor: default;
    z-index: 1;
    padding: 0 1px;
    margin: 0px;/*This is must for animator to work correctly*/
    border: 1px solid #a8acad; 
    width: 170px; 
    padding: 3px 10px; 
    font-family: Arial, sans-serif; 
    font-size: 12px; 
    background: url(data:image/gif;base64,R0lGODlhAQACAIAAAO7u7uPj4yH5BAAAAAAALAAAAAABAAIAAAICDAoAOw==) repeat-x #fff;
}
.animator {
    display: none;
    position: absolute;
    z-index: 2;
    cursor: default;
    margin: 0px;
}
td .button {
    position: absolute;
    right: 5px;
    top: 0;
    cursor: default;
    z-index: 1;
    margin: 0px;
}
/* Required. Don't alter | END*/

/* For Demo purpose | START*/
.demo {
    margin: 100px;
}
.text {
}
/* Demo 1 | START */
.fakeContainer .button
{
    cursor: pointer;
    width: 100px;
    background: #535353;
    border: 0;
    padding: 4px 0;
    text-align: center;
    color: #fff;
    border-radius: 4px;
}
.fakeContainer .button.hover
{
    background: #535353;
}
.fakeContainer .text
{
    left: 0px;
    width: 170px;
}
.fakeContainer .text.hover
{
}
.fakeContainer .text.watermarkTextbox
{
    color: Gray;
}
.fakeContainer .animator
{
    right: 200px;
    background-color: #BBDAFD;
    -moz-border-radius: 4px;
    padding: 0px 7px;
    margin: 0px;
    font-weight: bold;
}
/* Demo 1 | END */
/* Demo 2 | START */
.fakeContainer2 {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 60px;
}
.fakeContainer2 .text
{
    border:2px solid #BBDAFD;
    background-color: Beige;
    padding-left:1px;
    padding-right:1px;
    width: 300px;
}
.fakeContainer2 .text.hover
{
    border:2px solid #BBDAFD;
    background-color: #FFF;
}
.fakeContainer2 .button
{
    top: 30px;
    left: 0px;
    width: 100px;
}
.fakeContainer2 .text.watermarkTextbox
{
    color: Green;
}
.fakeContainer2 .animator
{
    right: 100px;
    background-color: Red;
    -moz-border-radius: 4px;
    padding: 0px 10px;
}
/* Demo 2 | END */
/* Demo 6 | START */
.fakeContainer6 {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 31px;
}
.fakeContainer6 .text
{
    border:2px solid Red;
    background-color: Beige;
    padding-left:1px;
    padding-right:1px;
    width: 200px;
    right : 0px;
}
.fakeContainer6 .button
{
    width: 108px;
    background: url("../images/btn_mid.gif") repeat-x scroll left top #FFCC00;
    border-color: #FFDA47 #A58400 #A58400 #FFDA47;
    border-width: 2px;
    border-style:solid;
    -moz-border-radius:0.4em 0.4em 0.4em 0.4em;
    top: 0px;
    left: 0px;
}
.fakeContainer6 .button.hover
{
    -moz-box-shadow:0 0 2px 1px #4F93FF;
    background:url("../images/btn_mid_hover.gif") repeat-x scroll left top #FFE57F;
    border-color:#FFDA47 #A58400 #A58400 #FFDA47;
    border-style:solid;
    border-width:2px;
}
.fakeContainer6 .animator
{
    right: 55px;
    background-color: Red;
    -moz-border-radius: 4px;
    padding: 0px 10px;
    font-size: 11px;
}
/* Demo 6 | END */
/* For Demo purpose | END*/