/*
	AnythingSlider v1.8+ Default theme
	By Chris Coyier: http://css-tricks.com
	with major improvements by Doug Neiner: http://pixelgraphics.us/
	based on work by Remy Sharp: http://jqueryfordesigners.com/
*/

#slider {
	width: 1260px;
	height: 531px;
	padding: 60px 0 0 0;
	list-style: none;
	overflow-y: auto;
	overflow-x: hidden;
}

.anythingSlider-default {
	margin: 0 auto;
}

.anythingSlider-default .anythingWindow {
}

.anythingSlider-default .anythingControls a {
	color: #000;
}

.anythingSlider-default .anythingControls a span {
	visibility: visible;
}

.anythingSlider-default .anythingControls a.cur {
	background: #888;
	color: #000;
}

.anythingSlider-default .anythingControls a.start-stop {
	background-color: #040;
	color: #ddd;
}
.anythingSlider-default .anythingControls a.start-stop.playing {
	background-color: #800;
}

.anythingSlider-default .anythingControls a.start-stop:hover,
.anythingSlider-default .anythingControls a.start-stop.hover,
.anythingSlider-default .anythingControls a.start-stop .anythingControls ul a:hover {
	background-image: none;
	color: #ddd;
}


.anythingSlider-default.activeSlider .anythingWindow {
	border-color: #7C9127;
}

.anythingSlider-default.activeSlider .anythingControls a {
	background-color: #fff;
}

.anythingSlider-default.activeSlider .anythingControls a.cur,
.anythingSlider-default.activeSlider .anythingControls a:hover {
	background: #fff;
	color: #999;
}

.anythingSlider-default.activeSlider .anythingControls a.start-stop {
	background: #fff;
	color: #999;
}

.anythingSlider-default.activeSlider .anythingControls a.start-stop.playing {
	background: #fff;
	color: #999;
}

.anythingSlider-default.activeSlider .start-stop:hover,
.anythingSlider-default.activeSlider .start-stop.hover {
	color: #999;
}


.anythingSlider-default .arrow {
	top: 50%;
	position: absolute;
	display: block;
}

.anythingSlider-default .arrow a {
	display: block;
	width: 42px;
	height: 42px;
	margin: -21px 0 0 0;
	text-align: center;
	outline: 0;
	background: url(slider-arrows.png) no-repeat;
}

.anythingSlider-default .back { left: 0; }
.anythingSlider-default .back a { background-position: 0 0; background: url(slider-arrows.png) no-repeat; }
.anythingSlider-default .back a:hover,
.anythingSlider-default .back a.hover { background-position: 0 100%; }

.anythingSlider-default .forward { right: 0; }
.anythingSlider-default .forward a { background-position: 100% 0 !important; background: url(slider-arrows.png) no-repeat; }
.anythingSlider-default .forward a:hover,
.anythingSlider-default .forward a.hover { background-position: 100% 100% !important; }

.anythingSlider-default .anythingControls { outline: 0; display: none; }
.anythingSlider-default .anythingControls ul { margin: 0; padding: 0; float: left; }
.anythingSlider-default .anythingControls ul li { display: inline; }
.anythingSlider-default .anythingControls ul a {
	display: inline-block;
	text-decoration: none;
	margin: 0 5px 0 0;
	text-align: center;
	outline: 0;
}

.anythingSlider-default .anythingControls .anythingNavWindow {
	overflow: hidden;
	float: left;
}

.anythingSlider-default .anythingControls .start-stop {
	padding: 2px 5px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	float: right;
	z-index: 100;
	outline: 0;
}

.as-oldie .anythingSlider-default .arrow {
	top: 30%;
}
.as-oldie .anythingSlider-default .arrow a {
	margin: 0;
}

.as-oldie .anythingSlider-default .anythingControls li {
	margin-left: 3px;
}

.as-oldie .anythingSlider-default .anythingControls a {
	margin: 0;
}
.as-oldie .anythingSlider-default .anythingNavWindow {
	margin: 0 2px;
}
.as-oldie .anythingSlider-default .anythingNavWindow li {
	padding: 3px 0 0 0;
}

.anythingSlider {
	display: block;
	overflow: visible !important;
	position: relative;
}

.anythingSlider .anythingWindow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}

.anythingSlider .anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	overflow: visible !important;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
.anythingSlider .arrow span {
	display: block;
	visibility: hidden;
}
.anythingSlider .arrow.disabled {
	display: none;
}

.anythingSlider .panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
}

.anythingSlider .vertical .panel {
	float: none;
}

.anythingSlider .fade .panel {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.anythingSlider .fade .activePage {
	z-index: 0;
}

.anythingSlider.rtl .anythingWindow {
	direction: ltr;
	unicode-bidi: bidi-override;
}
.anythingSlider.rtl .anythingControls ul { float: left; }
.anythingSlider.rtl .anythingControls ul a { float: right; }
.anythingSlider.rtl .start-stop {  }

.anythingSlider,
.anythingSlider .anythingWindow,
.anythingSlider .anythingControls ul a,
.anythingSlider .arrow a,
.anythingSlider .start-stop {
	transition-duration: 0;
	-o-transition-duration: 0;
	-moz-transition-duration: 0;
	-webkit-transition-duration: 0;
}     