
/* mini reset */
ol, ul { list-style: none; margin: 0; padding: 0; }

/* styles */
html, body { height: 100% }

body { 
    min-width: 1260px; 
    background: url(../images/body-bg.png) repeat-y 50% 0 #eaeaea;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    color: #000;
}

#main { 
    position: relative; 
    min-height: 100%; 
}

#wrap { 
    width: 930px; 
    margin: 0 auto; 
    padding: 0 35px 233px 35px; 
}

a { color: #402c76; }

/* header */
header {
    width: 100%;    
    font-family: "Times New Roman", serif; 
}
.header-wrapper { position: relative; width: 930px; margin: 0 auto; padding: 0 35px 25px 35px; }

.header-logo { float: left; margin: 20px 0; }

.header-slogan { float: left; margin: 0 0 0 40px; padding: 45px 0 0 13px; border-left: 3px solid #543e8a; }
    .header-slogan big { display: block; font-size: 36px; color: #010101; line-height: 85%; }
    .header-slogan small { display: block; margin: 8px 0 -2px 0; font-size: 14px; color: #402c76; text-transform: uppercase; }

.header-phone { float: right; text-align: right; margin: 84px 0 0 0; }
    .header-phone small { font-size: 14px; color: #402c76; text-transform: uppercase; }
    .header-phone big { font-size: 24px; }

.header-rainbow { clear: both; height: 9px; background: url(../images/header-rainbow.png) no-repeat 50% 0; }

.header-menu { position: relative; overflow: hidden; height: 39px; background: url(../images/header-menu-bg.png) repeat-x; border-radius: 8px; }
    .header-menu-container { float: left; left: 50%; position: relative; }
 
    .header-menu-container ul { position: relative; left: -50%; float: left; padding: 12px 0 0 0; }
    .header-menu-container li { float: left; padding: 0 35px; background: url(../images/header-menu-spacer.png) no-repeat 0 50%; }
    .header-menu-container li:first-child { background: no-repeat; }
    .header-menu-container li a { color: #fff; text-transform: uppercase; text-decoration: none; font-size: 14px; }
    .header-menu-container li a:hover, .header-menu-container li.active a { color: #f27075; }

    .header-menu .r1 a:hover { color: #ef8186; }
    .header-menu .r2 a:hover { color: #fbf472; }
    .header-menu .r3 a:hover { color: #b2d584; }
    .header-menu .r4 a:hover { color: #73c5e9; }
    .header-menu .r5 a:hover { color: #f5b160; }
    .header-menu .r6 a:hover { color: #ef8287; }

.header-question, .header-calc, .header-price { position: absolute; top: 0; display: inline-block; padding: 9px 20px; font-size: 14px; color: #fff; text-transform: uppercase; text-decoration: none; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; }
.header-question { right: 35px; background: url(../images/header-q.png) repeat-x #d3d3d3; border: 1px solid #157ec2; }
.header-question:hover { background: #23a8e0; }
.header-calc { right: 317px; background: url(../images/header-c.png) repeat-x #d3d3d3; border: 1px solid #bb1319; }
.header-calc:hover { background: #df1a21; }
.header-price { right: 182px; background: url(../images/header-p.png) repeat-x #d3d3d3; border: 1px solid #6b9b30; }
.header-price:hover { background: #89c13e; }


/* aside */
aside { width: 290px; }
.rightside { float: right; margin-left: 20px; }
.leftside { float: left; margin-right: 33px; }

.aside-title { display: block; margin: 0 0 20px 0; padding: 12px 0; font-family: "Times New Roman", serif; color: #fff; font-size: 14px; text-transform: uppercase; text-align: center; background: url(../images/aside-title-bg.png) repeat-x #402c76; border-radius: 8px; }

aside .categories { margin-bottom: 20px; }
    aside .categories .item { overflow: hidden; margin: 0 0 18px 0; }
        aside .categories .image { float: left; margin-right: 10px; }
            aside .categories img { border: 1px solid #584492; }

        aside .categories .text { overflow: hidden; }
            aside .categories .title { text-decoration: none; font-family: "Times New Roman", serif; font-size: 14px; text-transform: uppercase; }
            aside .categories p { margin: 2px 0; }

aside .news .item { margin-bottom: 25px; }

.aside-menu { margin-bottom: 30px; } 
    .aside-menu li { margin-bottom: 6px; }
    .aside-menu a { position: relative; z-index: 50; display: block; padding: 6px 0; font-family: "Times New Roman", serif; text-decoration: none; font-size: 18px; color: #584492; text-align: center; background: url(../images/aside-menu-a.png) repeat-x #e7e7e7; border: 1px solid #b3b0b0; border-radius: 8px; }
    .aside-menu a:hover, .aside-menu .active a { background: url(../images/aside-menu-hover.png) repeat-x #412d77; border: 1px solid #432f7a; color: #fff; }

    .aside-menu ul ul { position: relative; top: -5px; z-index: 25; padding: 13px 0 0 0; background: #f0f0f0; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; }
        .aside-menu li li { margin: 0; padding: 4px 0; text-align: center; border-bottom: 1px solid #d1d1d1; border-top: 1px solid #fff; }
        .aside-menu li li:first-child { border-top: 0; padding-top: 0; }
        .aside-menu li li:last-child { border-bottom: 0; }
        .aside-menu li li a { display: inline !important; background: none !important; border: 0 !important; padding: 0 !important; color: #6b6b6b !important; }
        .aside-menu li.active li a { color: #584492 !important; }
        .aside-menu li li a:hover { color: #8878b7 !important; }

/* page */
.page { overflow: hidden; }

h1, h2, h3, h4, h5, h6 { font-family: "Times New Roman", serif; color: #584492; font-weight: normal; margin-top: 0; }
.page h1, .page h2 { font-size: 24px; margin-bottom: 15px; line-height: 100%; }

.page p { margin: 15px 0; }

.page ul { list-style: disc inside; font-family: "Times New Roman", serif; color: #584492; font-size: 14px; text-transform: uppercase; }
    .page ul li { margin: 7px 0; }

.page table { width: 100%; }
    .page th { background: #e5e1f0; font-weight: normal; text-align: left; }
    .page td, .page th { padding: 5px 15px; border: 1px solid #584492; }

.page dl { margin: 15px 0; }
    .page dt { margin: 0; font-family: "Times New Roman", serif; font-size: 24px; color: #584492; padding: 0 0 0 30px; background: url(../images/dt.png) no-repeat 0 10px; }
    .page dd { padding: 0 0 0 30px; margin: 0 0 15px 0; }

/* catalog */
.catalog { width: 620px; }
    .catalog .item { display: inline-block; vertical-align: top; width: 145px; margin: 0 4px 6px 0; text-align: center; zoom: 1; *display: inline; }
    .portfolio .item { width: 297px; }
        .catalog .image img { border-radius: 8px; border: 1px solid #a3a0a0; }
        .catalog .image img:hover { border: 1px solid #584492; }
        .catalog .title { font-family: "Times New Roman", serif; font-size: 24px; color: #584492; text-decoration: none; }
        .catalog p { margin: 0 0 5px 0; }

/* newsletter */
.newsletter { }
    .newsletter .item { overflow: hidden; margin-bottom: 18px; padding-bottom: 5px; border-bottom: 1px solid #d1d1d1; }
    .newsletter .item:last-child { border: 0; }
        .newsletter .image { float: left; margin-right: 12px; }
            .newsletter .image img { border: 1px solid #584492; }

        .newsletter .name { overflow: hidden; }
            .newsletter .title { font-family: "Times New Roman", serif; font-size: 18px; text-decoration: none; }
            .newsletter .date { display: block; font-family: Verdana, sans-serif; }

        .newsletter .text { clear: both; }
            .newsletter .text p { margin: 10px 0; }

/* popup */
.popup { display: none; width: 410px; padding: 20px 30px; overflow: hidden; }
    .popup h1 { font-size: 24px; margin-bottom: 15px; line-height: 100%; }
    .popup p { margin: 13px 0; color: #000; }
    .popup .textbox, .popup textarea { width: 370px; margin: 0 0 8px 0; }
    .popup textarea { height: 120px; }
    .popup .button { float: right; margin: 12px 7px 0 0; }

    .popup .req { float: left; color: #584492; margin-top: 12px; }

/* other */
#slider .title { position: absolute; top: 20px; right: 25px; z-index: 100; padding: 0 20px; background: rgba(255,255,255,0.9); font-family: "Times New Roman", serif; font-size: 24px; color: #584492; }
#slider li { position: relative; text-transform: none; }
#slider li span { color: #000; }

.breadcrumbs { position: relative; z-index: 100; margin: -15px 0 10px 10px; }

.textbox, textarea { border: 1px solid #584492; padding: 5px 15px; font-family: "Times New Roman", serif; font-size: 18px; color: #000; }
.textbox.no { outline: none; border: 1px solid #a3a0a0; color: #6b6b6b; }

textarea { }

.button { display: block; padding: 8px 25px; border: 0; font-family: "Times New Roman", serif; color: #fff; font-size: 18px; text-align: center; background: url(../images/aside-title-bg.png) repeat-x #402c76; border-radius: 8px; }


/* footer */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 183px;
    background: url(../images/footer-bg.png) no-repeat 50% 0;
    color: #fff;
}
.footer-wrapper { position: relative; width: 1000px; margin: 0 auto; }

footer a { color: #fff; }

.footer-contacts { float: left; margin: 45px 0 0 0; }
    .footer-contacts big { font-family: "Times New Roman", serif; font-size: 24px; line-height: 120%; }
    .footer-contacts small { display: block; margin: 10px 0 0 0; font-size: 12px; }

.footer-address { float: right; margin: 58px 0 0 0; text-align: right; }
    .footer-address p { margin: 13px 0; text-align: right; }

.footer-parthners { position: absolute; left: 400px; top: -13px; padding: 20px 0 0 0; border-top: 1px solid #eaeaea; }
    .footer-parthners-title { text-align: center; font-family: "Times New Roman", serif; font-size: 14px; color: #584492; text-transform: uppercase; }
    .footer-parthners-links { margin-bottom: 15px; }
        .footer-parthners-links img { margin: 0 17px; }

.footer-rainbow { position: relative; clear: both; top: 12px; }
    .footer-rainbow table { width: 100%; height: 39px; }
        .footer-rainbow td { width: 20%; background: url(../images/footer-rainbow.png) repeat-x; }
        .footer-rainbow .red { width: 20%; background-position: 0 0; }
        .footer-rainbow .yellow { width: 20%; background-position: 0 -39px; }
        .footer-rainbow .green { width: 20%; background-position: 0 -78px; }
        .footer-rainbow .blue { width: 20%; background-position: 0 -117px; }
        .footer-rainbow .orange { width: 20%; background-position: 0 -156px; }
