/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.2;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* fonts */
@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Semibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* styles */
html, body { height: 100% }

body { 
    min-width: 1000px; 
    font-family: 'Open Sans Regular';
    font-size: 15px;
    color: #43525e;
}

#main { 
    position: relative; 
    min-height: 100%; 
}

#wrap { 
    padding: 0 0 100px 0; 
}

a { color: #5492c5; }
a:hover { color: #f00; }

strong, b { font-family: 'Open Sans Semibold'; }

/* header */
header {
    width: 100%;
    font-size: 13px;
}
.header-wrapper { width: 950px; margin: 0 auto; }

header a { color: #a6b4bf; text-decoration: none; }
header a:hover { color: #fff; }

.header-top { padding: 15px 0; background: #46535e; color: #a6b4bf; }

    .header-phone { float: left; margin: 0 75px 0 160px; font-family: 'Open Sans Semibold'; font-size: 17px; }

    .header-question, .header-email { float: left; margin: 0 80px 0 0; padding: 3px 0 3px 25px; background: url(../images/header-top-icons.png) no-repeat 0 3px; }
    .header-email { background-position: 0 -26px; }

    .header-register, .header-login { float: right; padding: 3px 0 3px 15px; margin: 0 0 0 15px; border-left: 1px solid #5c6e7c; }
    .header-login { padding-left: 28px; background: url(../images/header-top-icons.png) no-repeat 0 -60px; border: 0; }

.header-menu { height: 50px; background: url(../images/header-menu.png) no-repeat 50% 0 #f3f7f8; }
    .header-wrapper { position: relative; }

    .header-menu ul { float: right; background: #5493c4; }
        .header-menu li { float: left; padding: 13px 35px; border-left: 1px solid #70b2db; }
        .header-menu li:first-child { border: 0; }
        .header-menu li.active { background: #3d72aa; }
            .header-menu li a { font-family: 'Open Sans Semibold'; text-decoration: none; text-transform: uppercase; color: #fff; font-size: 20px; }
            .header-menu li a:hover { text-decoration: underline; }

        .header-menu ul ul { display: none; position: absolute; left: 0; top: 50px; width: 960px; background: #3d72aa; text-align: center; }
        .has-submenu ul ul { display: block; }
            .header-menu li li { float: none; display: inline-block; vertical-align: top; border: 0; padding: 13px 18px; }
            .header-menu li li.active { background: #fff; }
                .header-menu li li a { font-family: 'Open Sans Light'; }
                .header-menu li li.active a { color: #3d72aa; }
                .header-menu li li .count { color: #85bae3; }

    .has-submenu { padding: 0 0 50px 0; }

    .header-logo { float: right; margin: 5px 20px 0 0; }

/* register now */
.register-now { height: 291px; background: url(../images/home-bg.jpg) no-repeat 50% 0; color: #fff; text-align: center; }
    .register-now .title { padding: 70px 0 0 0; font-family: 'Open Sans Light'; font-size: 40px;line-height: 110%; }
        .register-now .title strong { font-family: 'Open Sans Semibold'; }

    .register-now a { 
        margin: 40px 0 0 0;
        display: inline-block; 
        vertical-align: top; 
        padding: 10px 35px;
        background: #3b6fa6; 
        border-radius: 3px; 
        font-family: 'Open Sans Semibold'; 
        color: #fff; 
        font-size: 17px; 
        text-decoration: none; 
        text-transform: uppercase; 
    }

/* content */
.content { width: 950px; margin: 0 auto; }

/* user nav */
.usernav { padding: 20px 0; border-bottom: 1px solid #eaeff1; }

    .usernav-bonus, .usernav-pay { float: right; border-left: 1px solid #d4dfe2; margin: 0 0 0 20px; padding: 10px 0 10px 20px; }

    .usernav-q { display: inline-block; vertical-align: top; margin-left: 5px; width: 20px; height: 20px; background: url(../images/icon-q.png) no-repeat; }
    .usernav-button { 
        position: relative;
        top: -10px;
        margin-bottom: -20px;
        margin-left: 15px;
        display: inline-block; 
        vertical-align: top; 
        padding: 10px 20px; 
        font-family: 'Open Sans Semibold'; 
        text-decoration: none; 
        font-size: 17px; 
        color: #5493c4; 
        text-transform: uppercase;
        background: #d4dfe2; 
        border-radius: 2px;
    }

    .usernav-search { float: left; }
        .usernav-search-input {
            display: block; 
            width: 80px;
            padding: 10px 20px 10px 45px; 
            font-family: 'Open Sans Semibold'; 
            text-decoration: none; 
            font-size: 17px; 
            color: #5493c4; 
            text-transform: uppercase;
            border-radius: 2px;   
            border: 0;         
            background: url(../images/usernav-search.png) no-repeat 20px 50% #d4dfe2;
        }
        .usernav-search-input::-webkit-input-placeholder { color: #5593c4; }
        .usernav-search-input:-moz-placeholder { color: #5593c4; }
        .usernav-search-input::-moz-placeholder { color: #5593c4; }
        .usernav-search-input:-ms-input-placeholder { color: #5593c4; }

.welcome { margin: 40px 0 0 0; padding: 0 0 40px 0; font-family: 'Open Sans Light'; font-size: 20px; text-align: center; color: #3f8e6a; background: url(data:image/gif;base64,R0lGODlhLQECAIAAAKvWxQAAACH5BAAAAAAALAAAAAAtAQIAAAIXhI+py+0Po5y02ouz3rz7D4biSJbmUgAAOw==) no-repeat 50% 100%; }
    .welcome h1 { font-size: 27px; }
    .welcome p { margin: 15px 0; }
    .welcome strong { font-family: 'Open Sans Semibold'; }

.howitworks { padding: 60px 0 0 0; background: url(../images/howitowrks-bg.png) no-repeat 50% 0; }
    .howitworks h2 { font-family: 'Open Sans Light'; text-align: center; font-size: 40px; color: #43525e; text-transform: uppercase; }

    .howitworks-play { margin: 30px auto; width: 660px; height: 388px; background: url(../images/howitworks-play.jpg) no-repeat; }

    .howitworks-content { margin: 60px 0 0 0; }
        .howitworks-content p { margin: 35px 0; padding: 0 0 0 325px; }

        .howitworks-content .quote { width: 570px; margin: 35px 0; padding: 0 0 0 45px; background: url(../images/bql.png) no-repeat 0 45%; }
            .howitworks-content .quote .wrapper { font-family: 'Open Sans Light'; font-size: 20px; padding: 0 45px 0 0; background: url(../images/bqr.png) no-repeat 100% 45%; }

/* slider */
.slider { background: url(../images/slider-bg.png) #f6f9fa; }
    .slider .wrapper { width: 950px; margin: 0 auto; padding: 25px 0 45px 0; background: url(data:image/gif;base64,R0lGODlhLQECAIAAAFSSxgAAACH5BAAAAAAALAAAAAAtAQIAAAIXhI+py+0Po5y02ouz3rz7D4biSJbmUgAAOw==) no-repeat 50% 100%; }

    .slider-links { overflow: hidden; }
        .slider-links a { float: left; display: block; height: 173px; background: url(../images/slider-links.png) no-repeat; }
        .slider-links .s1 { width: 111px; margin-right: 160px; margin-left: 145px; background-position: 0 0; }
        .slider-links .s1:hover, .slider-links .s1.active { background-position: 0 -173px; }
        .slider-links .s2 { width: 111px; margin-right: 160px; background-position: -111px 0; }
        .slider-links .s2:hover, .slider-links .s2.active { background-position: -111px -173px; }
        .slider-links .s3 { width: 132px; background-position: -222px 0; }
        .slider-links .s3:hover, .slider-links .s3.active { background-position: -222px -173px; }

    .slider-description { width: 600px; margin: 35px auto; font-size: 20px; color: #5492c5; text-align: center; }

/* tarif's */
.tarifs { padding: 50px 0; }
    .tarifs h1 { margin-bottom: 5px; font-size: 40px; text-align: center; text-transform: uppercase; }

    .tarifs table { width: 690px; margin: 0 auto; font-size: 14px; }
        .tarifs td { vertical-align: top; }
        .tarifs .label { padding-top: 25px; width: 23%; font-family: 'Open Sans Light'; font-size: 20px; }
        .tarifs .value { width: 77%; background: url(data:image/gif;base64,R0lGODlhLQEBAIAAAN3o6gAAACH5BAAAAAAALAAAAAAtAQEAAAIPhI+py+0Po5y02ouz3hwUADs=) no-repeat 0 100%; }

        .tarifs p { margin: 25px 0; }

        .tarifs ul { margin: 20px 0; }
            .tarifs li { padding: 5px 0 5px 30px; background: url(../images/bullet-1.gif) no-repeat 0 13px; }

/* archive */
.archive { font-size: 20px; text-align: center; }
    .archive p { margin: 25px 0; }

.archive-img { text-align: center; }
    .archive-img img { width: 100%; max-width: 1024px; }

/* rent */
.rent {}
    .rent table { width: 100%; border-bottom: 2px solid #d4dfe2; }
        .rent th {
            text-align: left;
            padding: 13px 0;
            white-space: nowrap;
            border-top: 1px solid #eaeff1;
            border-bottom: 2px solid #d4dfe2;
            border-bottom: 1px solid #b0c3c8;
            font-size: 11px;
            color: #8d979a;
            background: #ffffff;
            background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 18%, #f4f7f7 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(18%,#ffffff), color-stop(100%,#f4f7f7));
            background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 18%,#f4f7f7 100%);
            background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 18%,#f4f7f7 100%);
            background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 18%,#f4f7f7 100%);
            background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 18%,#f4f7f7 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f7f7',GradientType=0 );
        }

        .rent td {
            font-size: 12px;
            padding: 20px 10px 20px 0;
            vertical-align: top;
            line-height: 140%;
            border-bottom: 1px solid #d4dfe2;
            border-top: 1px solid #fff;
        }
        .rent .odd td {
            background: #f4f7f8;
        }

        .rent .green { color: #3f8e6a; }
        .rent .red { color: #d00015; }
        .rent .deposite { font-family: 'Open Sans Bold'; font-size: 15px; color: #3f8e6a; }

        .rent-star, .rent-photo, .rent-pointer { display: block; margin-bottom: 6px; }
        .rent-star:hover, .rent-photo:hover, .rent-pointer:hover { opacity: 0.75; }
        .rent-star { width: 17px; height: 16px; background: url(../images/rent-star.png) no-repeat 0 0; }
        .rent-photo { width: 17px; height: 13px; background: url(../images/rent-photo.png) no-repeat 0 0; }
        .rent-pointer { width: 17px; height: 16px; background: url(../images/rent-pointer.png) no-repeat 2px 0; }

        .rent-link a { text-decoration: none; border-bottom: 1px dotted #9eb8d4; white-space: nowrap; }

        .rent-write { margin: 20px 0 0 0; padding: 0 0 0 15px; background: url(../images/rent-write.png) no-repeat 0 4px; }

/* paginator */
.paginator { margin: 20px 0; }
    .paginator ul { text-align: center; }
        .paginator li { display: inline-block; margin: 0 10px; }

        .paginator li.first, .paginator li.previous { padding-left: 15px; }
        .paginator li.next, .paginator li.last { padding-right: 15px; }
        .paginator li.first { background: url(../images/paginator-icons.png) no-repeat 0 9px; }
        .paginator li.previous { background: url(../images/paginator-icons.png) no-repeat 0 -41px; }
        .paginator li.next { background: url(../images/paginator-icons.png) no-repeat 90px -91px; }
        .paginator li.last { background: url(../images/paginator-icons.png) no-repeat 84px -141px; }

        .paginator li a { display: inline-block; vertical-align: top; padding: 4px 10px; }
        .paginator li.active a { background: #d4dfe2; text-decoration: none; border-radius: 13px; color: #46535e; }

        .paginator li.first a, .paginator li.previous a, .paginator li.next a, .paginator li.last a { padding: 4px 0; }

/* footer */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
    background: #f3f7f8;
    color: #43525e;
    font-size: 12px;
}
.footer-wrapper { width: 950px; margin: 0 auto; padding: 30px 0 0 0; }

.footer-copyright { float: left; max-width: 485px; }

.footer-menu { float: right; }
    .footer-menu li { float: left; margin: 0 0 0 45px; }

.footer-phone { float: right; font-family: 'Open Sans Semibold'; color: #43525e; font-size: 15px; }
