/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background-position: 0 0;
	background-repeat: no-repeat;
	border: 0 none;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
	text-align: left;
	vertical-align: baseline;
}
a img, :link img, :visited img { border:0 none; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style-image: none; list-style-position: outside; list-style-type: none; }
q:before, q:after, blockquote:before, blockquote:after { content:""; }

/* css begin */
html, body { height:100%; }
body {
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	font-size: 14px;
	color: #666;
	background: #fff;
	width: 100%;
	min-width: 1000px;
}

/* content */
#wrap {
	position: relative;
	min-width: 1000px;
	max-width: 1200px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* aside */
.aside { float: left; width: 200px; margin: 55px 10px 0 25px; }

	.aside .nav { overflow: hidden  }
		.aside .nav a { display: block; float: left; height: 13px; margin-right: 30px; }
		.aside .nav .n1 { width: 13px; background: url(../images/i1.gif) no-repeat; }
		.aside .nav .n2 { width: 17px; background: url(../images/i2.gif) no-repeat; }

	.aside p { color: #999; margin: 15px 0; }
	.aside small { font-size: 12px; text-transform: uppercase; }

	.mainmenu { margin: 25px 0; }
		.mainmenu li { margin-bottom: 6px; }
		.mainmenu li a { display: inline-block; padding: 3px 5px; text-decoration: none; text-transform: uppercase; color: #666; }
		.mainmenu li a:hover { color: #000; }
		.mainmenu li.active a { background: #eee; }
		.mainmenu li.active li a { background: none; }
		.mainmenu li.active .active a { font-weight: bold; }

		.mainmenu li ul { margin: 8px 0 10px 10px; }
		.mainmenu li li { margin-bottom: 4px; }
		.mainmenu li li a { color: #999; text-transform: none; border-bottom: 1px dotted #999; font-size: 13px; }
		.mainmenu li li a:hover { color: #000; }

	.additionalmenu { margin: 15px 0; }
		.additionalmenu li { margin-bottom: 6px; }
		.additionalmenu li a { text-decoration: none; text-transform: uppercase; color: #999; }
		.additionalmenu li a:hover { color: #000; }

/* content */
.content { position: relative; overflow: hidden; padding: 55px 25px 0 0; font-family: Arial, sans-serif; }
	.content h1, .content h2, .content h3 { clear: both; margin: 25px 0; font-family: Georgia, serif; text-transform: uppercase; color: #000; }
	.content h1 { font-size: 36px; }
	.content h2 { font-size: 30px; }
	.content h3 { font-size: 24px; }

	.content p { margin: 25px 0; line-height: 150%; }

	.catalog {}
		.catalog .item, .slider li .item { position: relative; display: inline-block; vertical-align: top; width: 20%; height: 198px; padding: 15px; background: url(../images/item-fullbg.png) no-repeat 0 -999px; overflow: hidden; }
			.catalog .item img, .slider li .item img { border: 1px solid #f0f0f0; margin-bottom: 10px; }
			.catalog .item p, .slider li .item p { margin: 0; font-size: 13px; line-height: 160%; }
			.catalog .item a, .slider li .item a { display: inline-block; margin-bottom: 3px; color: #000; }

			.catalog .item .top, .catalog .item .bottom, .slider li .item .top, .slider li .item .bottom { display: none; position: absolute; left: 0; width: 176px; height: 1px; background: url(../images/item-tb.gif) no-repeat; }
			.catalog .item .top, .slider li .item .top { top: 0; }
			.catalog .item .bottom, .slider li .item .bottom { display: none; bottom: 0; height: 3px; background-position: 0 100%; }

		.catalog .item:hover, .slider li .item:hover { background-position: 0 0 }

	.filter { float: right; margin: -40px 50px 0 0; padding: 0; }
		.filter li { position: relative; z-index: 999; float: left; margin-right: 70px; }
		.filter li.active a { color: #fff; border: 0; }
		.filter li a { font-size: 17px; display: inline-block; padding-bottom: 0; border-bottom: 1px dashed #000; text-transform: uppercase; color: #666; text-decoration: none; }

		.filter li ul { display: none; position: absolute; z-index: -1; left: -10px; top: -10px; width: 131px; padding: 35px 12px 5px 6px; background: url(../images/filter-bg.png) no-repeat; }
		.filter li li { float: none; margin: 0; padding: 5px 10px; background: url(../images/filter-li-bg.gif) repeat-x; }
		.filter li li a { color: #eee; border: 0; font-size: 12px; text-transform: none; }

		.filter li.active ul { display: block; }

		.filter li li.bottom { margin: 0 0 -19px -6px; width: 143px; height: 4px; border: 0; background: url(../images/filter-bg.png) no-repeat 0 100%; }

/* product */
.product { overflow: hidden; }
	.product .view { float: left; width: 466px; margin-right: 30px; }
		.product .view img { border: 1px solid #ccc; }
		.product .view .thumbnails { margin: 5px 0; }
			.product .view .thumbnails img { margin-right: 5px; }

	.product .description { overflow: hidden; }
		.product .description table { width: 100%; margin: 15px 0; }
		.product .description td { padding: 5px; font-size: 12px; }
		.product .order { display: block; width: 98px; height: 28px; background: url(../images/order-b.jpg) no-repeat; cursor: pointer; }

/* slider */
.slider { margin-left: 20px; }
.slider ul { position: relative; width: 716px; height: 230px; overflow:hidden; }
	#prevBtn a, #nextBtn a { float: left; display: block; width: 13px; height: 22px; text-indent: -9999px; overflow: hidden; background: url(../images/slider-arrows.png) no-repeat; z-index:1000; }
	#prevBtn a { margin: -160px 0 0 0; }
	#prevBtn a:hover { background-position: 0 100%; }
	#nextBtn a { float: left; margin: -160px 0 0 747px; background-position: 100% 0; }
	#nextBtn a:hover { background-position: 100% 100%; }

/* rotator */
.rotator { position:relative; height:158px; display: none; }
	.rotator li { float:left; position:absolute; list-style: none; }
    .rotator li.show { z-index: 500 }

/* image switcher */
#switch { display: block; position: absolute; right: 38px; top: 16px; width: 76px; height: 18px; background: url(../images/top-switcher.gif) no-repeat; }


/* theme black */
.theme-black { background: #000; }
	.theme-black .aside a { color: #aaa; }
	.theme-black .aside a:hover { color: #fff; }

	.theme-black .content { color: #aaa; }
	.theme-black h1, .theme-black h2, .theme-black h3 { color: #ccc; }

	.theme-black .item:hover { background: none; }
	.theme-black .item:hover .top, .theme-black .item:hover .bottom { background: none; }
	.theme-black .item a { color: #fff !important; }

	.theme-black #switch { background-position: 0 100%; }

	.theme-black .n1 { background-position: 0 100% !important }
	.theme-black .n2 { background-position: 0 100% !important }

/* footer */
#footer {
	padding: 20px 0;
	position: relative;
	margin: -105px auto 0 auto;
	height: 65px;
	min-width: 1000px;
	max-width: 1280px;
	color: #999;
	background: url(../images/footer-bg.gif) repeat-x;
}

#footer a { color: #999; }
#footer a:hover { color: #000; }

#footer .copyright { margin-left: 290px; font-size: 11px; }

.footer_blank {	clear: both; height: 110px; }