/* menu top */


#nav, #nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 90%;
  z-index: 10;
  position: absolute;
}
#nav li {
  float: left;
  position: relative;
  background: #dfdfdf;
  font-size: 14px;
}

#nav li.mainnav {
    height: 22px;
    padding-top: 5px;
}
#nav a {
  color: #000;
  text-decoration: none;
  width: 120px;
  padding: 4px 10px;
}
#nav a:hover {
  color: #000;
  background-color: #fff;
}
#nav li:hover,
#nav li.jshover {
  background: #fff;
  color: #000;
}
#nav li:hover a { color: black; background: white; }

#nav li ul {
  display: none;
  position: absolute;
  padding: 8px 0;
  margin-top: -4px;
  width: 138px;
}
#nav li li a {
  width: 118px;
  background-color: #fff !important;
  font-size: 11px;
  display: block;
}
#nav li li a:hover{ background-color: #a60a02 !important; color: white; }

#nav li:hover ul,
#nav li.jshover ul {
  display: block;
}

#nav li:hover li ul,
#nav li.jshover li ul {
  display: none;
  width: 138px;
  top: -9px;
  left: 118px;
}
#nav li:hover li:hover ul,
#nav li.jshover li.jshover ul {
  display: block;
}

/* sizes*/
.expeditor li a { width: 150px !important; }
.auto li a { width: 95px !important; }
.containers li a { width: 165px !important; }
.negab li a { width: 163px !important; }

/* ie hacks */

* html #nav li ul {
    left: 0;
    top: 23px;
}

/* menu blocks */

.blocks_nav, .blocks_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 10;
  position: absolute;
  bottom: -15px;
}
.blocks_nav li {
  float: left;
  position: relative;
  background: #dfdfdf;
  font-size: 16px;
}

.blocks_nav li.mainnav {
    height: 22px;
    padding-top: 5px;
}
.blocks_nav a {
  color: #a60a02;
  text-decoration: none;
  width: 120px;
  padding: 4px 10px;
}
.blocks_nav a:hover {
  color: #a60a02;
  background-color: #fff;
}
.blocks_nav a.mainnavlink:hover {
  color: #a60a02;
  background-color: #fff;
}
.blocks_nav li:hover,
.blocks_nav li.jshover {
  background: #fff;
  color: #a60a02;
}
.blocks_nav li:hover a { color: black; background: white; }

.blocks_nav li ul {
  display: none;
  position: absolute;
  padding: 8px 0;
  margin-top: -4px;
  width: 138px;
  top: 23px;
  left: 0;

}
.blocks_nav li li a {
  width: 118px;
  background-color: #fff !important;
  font-size: 11px;
  display: block;
}
.blocks_nav li li a:hover{ background-color: #a60a02 !important; color: white; }

.blocks_nav li:hover ul,
.blocks_nav li.jshover ul {
  display: block;
}

.blocks_nav li.hover ul {
  display: block;
}

.blocks_nav li:hover li ul,
.blocks_nav li.jshover li ul {
  display: none;
  width: 138px;
  top: -9px;
  left: 118px;
}
.blocks_nav li:hover li:hover ul,
.blocks_nav li.jshover li.jshover ul {
  display: block;
}

/* sizes 2 */
.blocks_auto li a { width: 236px !important; }
.blocks_zhd li a { width: 218px !important; }
.blocks_wood li a { width: 233px !important; }
.blocks_containers li a { width: 184px !important; }

/* ie hacks */